.left{
    width:500px;
    justify-content: left;
    display: flex;
    flex-direction: column;
    margin: 200px 200px;
}

h1,h2,p{
    margin:10px;
}

.left-content{
    margin-top:100px;
    height:700px;
}